.navbar.navbar-default
	.container
		.navbar-header(style='width:100%')
			a.navbar-brand(href='#') TimeCalendar
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href="#",role="button",data-toggle="dropdown")
						i.fa.fa-align-justify.fa-fw
					ul.dropdown-menu.pull-right
						li
							a(href="#")
								i.fa.fa-cog.fa-fw
								| &nbsp;Settings
						li
							a(href="https://github.com/projectgheist/timemanager",target="_blank")
								i.fa.fa-github.fa-fw
								| &nbsp;View on Github
						li.divider
						li
							a(href="/logout",target="_self")
								i.fa.fa-sign-out.fa-fw
								| &nbsp;Logout
			form.navbar-form(style='margin-top:12px')
				.form-group
					input.form-control.typeahead(type='text',placeholder='Event name')
				.form-group
					input.form-control.minicolors(type='hidden',data-control='saturation',placeholder='Font color')
				.form-group
					input.form-control.minicolors(type='hidden',data-control='saturation',placeholder='Background color')
				button.btn.btn-default(type='button',style='margin:0') Submit