.navbar.navbar-default
	.container
		.navbar-header(style='width:100%')
			a.navbar-brand(href='/', target='_self') TimeCalendar
			.navbar-collapse.text-right
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.dropdown-toggle(href="#",role="button",data-toggle="dropdown")
							i.fa.fa-align-justify.fa-fw
						ul.dropdown-menu
							if user
								li
									a(href="#")
										i.fa.fa-cog.fa-fw
										| &nbsp;Settings
							li
								a(href="https://github.com/projectgheist/timecalendar",target="_blank")
									i.fa.fa-github.fa-fw
									| &nbsp;View on Github
							if user
								li.divider
								li
									a(href="/logout",target="_self")
										i.fa.fa-sign-out.fa-fw
										| &nbsp;Logout