include includes/header
include includes/nav
.container(ng-controller='dashController')
	.row
		.col-xs-12
			ng-include(src="'views/templates/alert'", ng-repeat='e in alerts')
	.row
		.col-sm-6
			.well
				h4
					i.fa.fa-check-square-o.fa-fw
					| Start new event
				form
					.form-group
						label.sr-only Event name
						.input-group
							span.input-group-btn
								a.btn.btn-default(href='/edit/eventnames', target='_self')
									i.fa.fa-search.fa-fw
							input.form-control(type='text',placeholder='Event name',ng-model='eventName',ng-required,uib-typeahead='e.event.name for e in getEvents($viewValue)',typeahead-loading='loadingEvents',typeahead-no-results='noEvents',typeahead-on-select='onTypeAheadSelect($item, $model, $label)')
						.alert(ng-class="{'alert-info':noEvents, 'alert-warning':loadingEvents}", ng-show='loadingEvents || noEvents')
							span(ng-show='loadingEvents')
								i.fa.fa-refresh
								| &nbsp;Loading ...
							span(ng-show='noEvents')
								i.fa.fa-remove
								| &nbsp;No events found!
					.row.hidden
						.col-xs-6
							.form-group
								label.sr-only Text color
								input.form-control.minicolors#textcolor(type='hidden',ng-model='textcolor',data-control='saturation',placeholder='Font color',value='{{textcolor}}')
						.col-xs-6
							.form-group
								label.sr-only Background color
								input.form-control.minicolors#bgcolor(type='hidden',ng-model='bgcolor',data-control='saturation',placeholder='Background color',value='{{bgcolor}}')
					.text-right
						button.btn.btn-primary(type='button',ng-click='submitEventItem()') Start
			.well(ng-if='eventSources && eventSources.length && eventSources[0].length')
				h4
					i.fa.fa-cog.fa-fw
					| &nbsp;In progress
				.form-group
					.input-group(ng-repeat='e in eventSources[0]')
						span.input-group-btn
							button.btn.btn-block(type='button',ng-click='stopEvent(e)')
								i.fa.fa-times.fa-fw
						p(style='margin-top: 7px') {{e.title}}
							small.pull-right
								i.fa.fa-clock-o.fa-fw
								| &nbsp;{{e.duration}}
				.text-right
					button.btn(type='button',ng-click='stopAllEvents()') Stop all
		.hidden-xs.col-sm-6
			.calendar(ui-calendar='uiConfig.calendar',ng-model='eventSources')
			a.btn(href='/overview',target='_self') Week
	.hidden-xs
		.row
			.col-xs-12
				hr
		.row
			.col-sm-6
				h1 
					i.fa.fa-history.fa-fw
					| &nbsp;Completed events
				ul.list-group(ng-show='eventSources && eventSources[1]')
					li.list-group-item(ng-repeat='e in eventSources[1]', ng-click='setNewEvent(e)', style='padding:0 15px')
						include templates/event
				.well(ng-hide='eventSources && eventSources[1].length')
					h1
						i.fa.fa-warning.fa-fw
						| &nbsp;No previous events
			.col-sm-6
				h1 
					i.fa.fa-bar-chart.fa-fw
					| &nbsp;Statistics
				ul.list-group(ng-show='eventGroups')
					li.list-group-item(ng-repeat='e in eventGroups', ng-click='setNewEvent(e.event)', style='padding:0 15px')
						include templates/event
				.well(ng-hide='eventGroups.length')
					h1
						i.fa.fa-warning.fa-fw
						| &nbsp;No previous events
include includes/js
script(type='text/javascript', src='/js/dashcontroller.js')