include includes/header
include includes/nav
.container(ng-controller='dashController')
	.row
		.col-xs-12(style='height:8rem')
			ng-include(src="'views/templates/alert'", ng-show='isAlertEnabled')
			.row#loadingDashboard
	.row
		.col-sm-6
			h2 Start new event
			form
				.form-group
					label.sr-only Event name
					.input-group
						span.input-group-btn
							a.btn.btn-default(href='/edit/eventnames', target='_self')
								i.fa.fa-search.fa-fw
						input.form-control(type='text',placeholder='Event name',ng-model='eventName',ng-required,uib-typeahead='e.event.name for e in getEvents($viewValue)',typeahead-loading='loadingEvents',typeahead-no-results='noEvents',typeahead-on-select='onTypeAheadSelect($item, $model, $label)')
					div(style='height:8rem')
						// Existing events
						.row(ng-show='!loadingEvents && !noEventSelected && eventName && eventName.length >= 2')
							.col-sm-12
								.text-right
									button.btn.btn-primary(type='button',ng-click='submitEventItem()') Start {{eventName}}
						// Show loading and new events
						.alert(ng-class="{'alert-info':noEvents || noEventSelected, 'alert-warning':loadingEvents}", ng-show='eventName && (loadingEvents || noEvents || noEventSelected)', ng-cloak='', style='margin:0')
							p(ng-show='loadingEvents') Loading ...
							.row
								.col-sm-12
									.input-group
										p No match found or selected!
										span.input-group-btn
											button.btn.pull-right(type='button',ng-click='submitEventItem()') Create new?
				.row.hidden
					.col-xs-6
						.form-group
							label.sr-only Text color
							input.form-control.minicolors#textcolor(type='hidden',ng-model='textcolor',data-control='saturation',placeholder='Font color',value='{{textcolor}}')
					.col-xs-6
						.form-group
							label.sr-only Background color
							input.form-control.minicolors#bgcolor(type='hidden',ng-model='bgcolor',data-control='saturation',placeholder='Background color',value='{{bgcolor}}')
		.hidden-xs.col-sm-6
			.calendar(ui-calendar='uiConfig.calendar', calendar='myCalendar', ng-model="eventSources")
			.text-center
				a.btn.btn-primary.btn-raised(href='/profile/' + user,target='_self') Profile
				a.btn.btn-primary.btn-raised(href='/overview',target='_self') Overview
	.hidden-xs
		.row
			.col-xs-12
				hr
		.row
			.col-sm-4
				h2 In progress
				.form-group(ng-if='eventSources && eventSources.length && eventSources[0].length', ng-cloak='')
					.input-group(ng-repeat='e in eventSources[0]')
						span.input-group-btn
							button.btn.btn-block(type='button',ng-click='stopEvent(e)')
								i.fa.fa-times.fa-fw
						p(style='margin-top: 7px') {{e.title}}
							small.pull-right
								i.fa.fa-clock-o.fa-fw
								| &nbsp;{{e.duration}}
					button.btn.btn-raised(type='button', ng-click='stopAllEvents()') Stop all
				.text-muted.text-center(ng-if='eventSources.length && !eventSources[0].length')
					p
						i.fa.fa-minus-circle.fa-fw.fa-5x
					p No current running events
			.col-sm-4
				h2 Completed events
				ul.list-group(ng-show='eventSources && eventSources[1]', ng-cloak='')
					li.list-group-item(ng-repeat='e in eventSources[1]', ng-click='setNewEvent(e)', style='padding:0 15px')
						include templates/event
				.text-muted.text-center(ng-hide='eventSources && eventSources[1].length')
					p
						i.fa.fa-warning.fa-fw.fa-5x
					p No previous events
			.col-sm-4
				h2 Statistics
				ul.list-group(ng-show='eventGroups && eventGroups.length', ng-cloak='')
					li.list-group-item(ng-repeat='e in eventGroups', ng-click='setNewEvent(e.event)', style='padding:0 15px')
						include templates/event
					li.list-group-item(style='background-color: #eeeeee')
						h4(style='margin:25px 0') Total time
							.pull-right {{totalTime}}
				.text-muted.text-center(ng-hide='eventGroups.length')
					p
						i.fa.fa-warning.fa-fw.fa-5x
					p No previous events
include includes/js
script(type='text/javascript', src='/js/dashcontroller.js')