include includes/header
.container(ng-controller='dashController')
	.row
		.col-xs-12
			.alert.alert-dismissible.fade.in(ng-class='alertStyle',role="alert")
				button.close(type="button",data-dismiss="alert",aria-label="Close")
					span(aria-hidden='true') &times;
				p {{alertMessage}}
	.row
		.col-xs-12
	.row
		.col-sm-6
			.well
				h1
					i.fa.fa-check.fa-fw
					| Start event
				hr
				form
					.row
						.col-xs-12
							.form-group
								label.sr-only Event name
								input.form-control(type='text', placeholder='Event name',ng-model='eventName',ng-required)
							.form-group
								label.sr-only Start time
								.input-group
									span.input-group-btn
										button.btn.btn-default
											i.fa.fa-clock-o.fa-fw
									input.form-control(type='text', placeholder='Event start time',ng-model='startDateFormat',disabled)
					.row
						.col-xs-6
							.form-group
								label.sr-only Text color
								input.form-control.minicolors(type='text',ng-model='textcolor',data-control='saturation',placeholder='Font color')
						.col-xs-6
							.form-group
								label.sr-only Background color
								input.form-control.minicolors(type='text',ng-model='bgcolor',data-control='saturation',placeholder='Background color')
					.row
						.col-xs-12
							.text-right
								button.btn.btn-primary(type='button',ng-click='submitEvent()') Start
		.col-sm-6
			.calendar(ui-calendar='uiConfig.calendar',ng-model='eventSources')
include includes/js