include includes/header
.container(ng-controller='dashController')
	.row
		.col-xs-12
			.jumbotron 
				h1 TimeCalendar
	.row
		.col-xs-12.col-lg-offset-4.col-lg-4
			.card
				.card-height-indicator
				.card-content
					.card-image(style='background-color:grey')
						h3.card-image-headline Login
					.card-body
						.row
							.col-xs-12
								a.btn.btn-block.btn-flat(href='/auth/google',target='_self') Sign-in with Google
					footer.card-footer
include includes/js