include includes/header
include includes/nav
.container(ng-controller='dashController')
	.row
		.col-xs-12
			ol.breadcrumb
				li
					a(href='/',target='_self') Home
				li.active Overview
			ng-include(src="'views/templates/alert'", ng-show='isAlertEnabled')
			.calendar(ui-calendar='uiConfig.calendar', ng-model='eventSources')
			#loadingCalendar(ng-show='!eventSources.length')
			h1 Statistics
	.row(ng-if='chartist.data.series.length')
		.col-lg-6(style='height:300px')
			chartist.ct-chart(chartist-data='chartist.data', chartist-chart-type='Pie', chartist-chart-options='chartist.options', chartist-responsive-options='chartist.responsiveOptions', chartist-events='chartist.events')
		.col-lg-6
			ul.list-group(ng-show='eventGroups.length')
				li.list-group-item(ng-repeat='e in eventGroups',style='padding:0 15px')
					include templates/event
			.alert.alert-warning(role='alert', ng-show='!eventGroups.length')
				p No events found during this period!
	.row#loadingChart(ng-if='!chartist.data.series.length')
	include templates/editevent
include includes/js
script(type='text/javascript', src='/js/dashcontroller.js')