include includes/header
include includes/nav
.container(ng-controller='dashController')
	.row
		.col-xs-12
			ol.breadcrumb
				li
					a(href='/',target='_self') Home
				li.active Overview
			.calendar(ui-calendar='uiConfig.calendar',ng-model='eventSources')
			hr
			ng-include(src="'views/templates/alert'", ng-repeat='e in alerts')
	.row
		.col-xs-12
			h1 
				i.fa.fa-bar-chart.fa-fw
				| &nbsp;Statistics
	.row
		.col-lg-6(ng-show='chartist.data.series.length', style='height:300px')
			chartist.ct-chart(chartist-data='chartist.data', chartist-chart-type='Pie', chartist-chart-options='chartist.options', chartist-responsive-options='chartist.responsiveOptions')
		div(ng-class="{'col-lg-12':!chartist.data.series.length, 'col-lg-6':chartist.data.series.length}")
			ul.list-group(ng-show='eventGroups.length')
				li.list-group-item(ng-repeat='e in eventGroups',style='background-color:{{e.event.fontBgColor}};padding:0 15px')
					.row
						.col-lg-12
							span.badge.pull-right(style='margin:25px 0') {{e.duration}}
							h4(style='color:{{e.event.fontTextColor}};margin:25px 0')
								span
									i.fa.fa-tag.fa-fw
								| &nbsp;{{e.event.name}}
			.alert.alert-warning(role='alert', ng-hide='eventGroups.length')
				p
					i.fa.fa-warning.fa-fw
					| &nbsp;No events found during this period!
include includes/js
script(type='text/javascript', src='/js/dashcontroller.js')