include includes/header
include includes/nav
.container(ng-controller='dashController')
	.row
		.col-xs-12
			h1.text-center Loading ...
			#loadingDashboard
include includes/js
script(type='text/javascript', src='/js/dashcontroller.js')