include includes/header
include includes/nav
.container(ng-controller='dashController')
	.row
		.col-xs-12(style='height:8rem')
			ng-include(src="'views/templates/alert'", ng-show='isAlertEnabled')
	.row(ng-hide='user || eventSources[0].length', ng-cloak='')
		.col-xs-12
			h1.text-center Loading ...
			#loadingProfile
	.row(ng-show='!user', ng-cloak='')
		.col-xs-12
			.text-muted.text-center
				p
					i.fa.fa-minus-circle.fa-fw.fa-5x
				p Invalid profile
	.row(ng-show='user && !eventSources[0].length', ng-cloak='')
		.col-xs-12
			.text-muted.text-center
				p
					i.fa.fa-warning.fa-fw.fa-5x
				p No events found during this period
	.row(ng-if='user && eventSources[0].length', ng-cloak='')
		.col-xs-12
			h1 {{user.name}}'s Profile
			h2 Week overview
			.calendar(ui-calendar='uiConfig.calendar', calendar='myCalendar', ng-model='eventSources')
			h2 Breakdown
			chartist.ct-chart(chartist-data='chartistBar.data', chartist-chart-type='Bar', chartist-chart-options='chartistBar.options')
include includes/js
script(type='text/javascript', src='/js/dashcontroller.js')