/** Full window height */
html, body, .container-height, .container-height .row, .container-height .row .col-xs-12 {
	height: 100%;
}

.form-inline .form-group, .form-inline button, .btn-group {
	margin-right: 5px;
}

.form-inline .minicolors-theme-bootstrap .minicolors-swatch  {
	display: block;
	margin-left: 3px;
	left: inherit;
}

.navbar .navbar-brand {
	padding: 15px;
}

.navbar-form .minicolors-theme-bootstrap {
	display: inline-block;
	margin: 0 5px;
}

.navbar-form .minicolors-theme-bootstrap .minicolors-swatch {
	width: 100% !important;
	background-image: inherit;
    border: inherit;
}

.navbar-form .minicolors-theme-bootstrap .minicolors-swatch-color {
	position: relative;
	margin: 0;
	width: 128px;
	display: block;
}

form .minicolors-theme-bootstrap .minicolors-swatch {
	left: 18px;
}

.minicolors-theme-bootstrap .minicolors-swatch-color {
	height: 34px;
	border: 1px solid #e3e3e3;
	border-radius:4px;
}

.bordered {
    border-radius: 4px;
	padding: 5px 15px;
}

.minicolors-position-left .minicolors-panel {
	left: inherit;
	top: 37px;
}

.form-inline .minicolors-position-left .minicolors-panel {
	left: inherit;
}

.card .card-image .card-image-headline {
	width: 100%;
	left: 0;
}

.card .card-footer button.btn-block {
	width: inherit;
}

.card .card-footer button.btn-block:first-child, .card .text-center .card-footer button:first-child {
	left: 0;
}

.list-group-item-heading .checkbox.pull-right {
	margin-top: 0;
}

.list-group-item hr {
	margin-top: 0;
	margin-bottom: 0;
}

/** Bootstrap UI with Material boostrap */
td.form-group input[type=text] {
	margin-left: auto;
	margin-right: auto;
}

/** Bootstrap tags input with Material boostrap */
.bootstrap-tagsinput {
	padding: 7px 0;
	margin-bottom: 7px;
	background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
	background-size: 0 2px, 100% 1px;
	background-repeat: no-repeat;
	background-position: center bottom, center calc(100% - 1px);
}