.form-inline .form-group, .form-inline button, .btn-group {
	margin-right: 5px;
}

.form-inline .minicolors-theme-bootstrap .minicolors-swatch  {
	display: block;
	margin-left: 3px;
	left: inherit;
}

form .minicolors-theme-bootstrap .minicolors-swatch {
	left: 18px;
}

.minicolors-theme-bootstrap .minicolors-swatch-color {
	margin-left: 15px;
	margin-right: 15px;
	height: 34px;
	border: 1px solid #e3e3e3;
	border-radius:4px;
}

.bordered {
    border-radius: 4px;
	padding: 5px 15px;
}

.minicolors-position-left .minicolors-panel {
	left: inherit;
	top: 37px;
}

.form-inline .minicolors-position-left .minicolors-panel {
	left: inherit;
}}