.alert.alert-dismissible.fade.in(ng-class='alertStyle',role="alert")
	button.close(type="button", data-dismiss="alert", aria-label="Close")
		span(aria-hidden='true') &times;
	p(ng-bind-html='alertMessage')