.row-action-primary
	span.fa-stack.fa-lg
		i.fa.fa-square.fa-stack-2x(style='color:{{e.color || e.event.color}}')
		i.fa.fa-tag.fa-stack-1x(ng-if='e.event', style='color:{{e.event.textColor}}')
		i.fa.fa-remove.fa-stack-1x(ng-if='!e.event', style='color:{{e.textColor}}')
.row-content
	.least-content
		span.badge.pull-right {{e.duration}}
	h4.list-group-item-heading {{e.title || e.event.title}}
	p.list-group-item-text
		span.badge(ng-repeat='t in e.tags || e.event.tags') {{t.name}}
		| &nbsp;
		a(href='/edit/eventnames', target='_self')
			i.fa.fa-plus-square
hr(ng-hide='$last')